svg {
  vertical-align: middle;
  transition: transform 0.3s ease;
}


.header-icon:hover svg {

  transform: translate(85, -10px);
}

h {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fab2;
  box-shadow: #32325d40 0 50px 100px -20px, #0000004d 0 30px 60px -30px, #0a254059 0 -2px 6px inset;
}

.h {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.h:hover {
  background-color: #0071bd;
  color: white !important;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
}

.h>a {
  text-decoration: none;
  color: #0071bd;
  border-radius: 6px;
}

a:hover {
  color: white;
  text-decoration: none;
  border-radius: 6px;

}

.a svg {
  fill: #0071bd;
  transition: fill 0.3s;
}

.h.phone:hover .a svg {
  fill: white;
}

.h.email:hover .a svg {
  fill: white;
}

.highlight:hover {
  text-decoration: underline;
  color: blue
}

span {

  font-weight: 600;
  font-family: Open Sans, sans-serif;
}

.a {
  text-decoration: none;
  padding: 8px;
  color: #3f51b5;
}

.left {
  max-width: 60%;
}

.get {
  font-family: Mulish, sans-serif;
  color: #fff !important;
  background-color: #0661a7;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.3vw;
  font-weight: 500;
  border-radius: 2px;
}

.next {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, .303);
  border-radius: 6px;
  margin: 2rem 1rem;
}

.button:hover {
  background-color: #031f32c9;
  color: #fff !important;
}

.get:hover {
  color: #fff !important;
  background-color: #052d61f7;
}

.card {
  display: flex;
  column-gap: 5rem;
  box-shadow: #32325d40 0 50px 100px -20px, #0000004d 0 30px 60px -30px, #0a254059 0 -2px 6px inset;
  border: none;
  border-radius: .75rem;
  padding: 2rem;
  justify-content: space-between;
}

.card-body {
  background-color: #0661a7;
  max-width: 50%;
  padding: .5rem .5rem .5rem .8rem;
  box-shadow: none !important;
  border: 1px solid grey;
  border-radius: 1rem;
  font-family: Mulish, sans-serif;
  color: white;
  flex: 1;
}

input {
  padding: 10px;
  border-radius: 2px;
}

select {
  margin: 5px;
  padding: 15px;
  width: 25%;
  border-radius: 5px;
}

input[type="submit"] {
  width: 98%;
  background-color: #0661a7;
  color: white;
  line-height: 15px;
  font-size: medium;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 1rem;
}

.item {
  width: 350px;
  max-height: 200px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 7px;
  box-shadow: #959da533 0 8px 24px;
}

.foot {
  padding: 10px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 20px;
}

.design {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  padding: 5px;
  justify-content: flex-start;
}

.content-row {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.image {
  flex:1 ;
}

.text-content {
  flex: 3;
}

@media screen and (max-width:768px) {
  .Desktop-view {
      display: flex;
  }
}

@media screen and (min-width:768px) {
  .responsive {
      display: none;
  }

}

@media screen and (max-width:768px) {
  .desktop-view {
      display: none;
  }

}
 